/*-------------- Room Menu --------------*/
.wrapper {
  padding: 0 12px;
  min-width: 260px;
}

/*Room code*/
.room-code-wrap {
  background-color: #e4e6eb;
  border-radius: 8px;
  padding: 12px;
  user-select: text;
}

.room-code-title {
  font-size: 12px;
  font-weight: 600;
}

.room-code {
  font-size: 12px;
  font-weight: 500;
  color: var(--primary);
  margin-top: 4px;
}

/* Q&A*/
.q-and-a {
  margin-top: 8px;
  color: var(--primary);
  font-size: 14px;
}

.q-and-a-title {
  margin-right: 2px;
}

/* Participants */
.participants-wrapper {
  min-width: 200px;
  max-width: 300px;
  max-height: 104px;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #fff;
  padding: 8px 16px;
  margin: 12px 0;
}

.participant_wrap {
  position: relative;
}

.participant_img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #fff;
  margin: 4px 6px 0;
  padding: 1px;
  border: 2px solid var(--primary);
}

.admin-icon {
  display: block;
  position: absolute;
  top: -4px;
  right: -2px;
  color: var(--primary);
  font-size: 20px;
  cursor: pointer;
  & .inner-icon-false {
    display: inline;
  }
  & .inner-icon-true {
    display: none;
  }
}

.participant_wrap.admin .admin-icon {
  background-color: transparent;
  & .inner-icon-true {
    display: inline;
  }
  & .inner-icon-false {
    display: none;
  }
  &.disable {
    color: #000;
  }
}

.participant_name {
  background-color: var(--primary);
  color: #fff;
  font-size: 14px;
  padding: 4px;
  border-radius: 6px;
}

/* Leave Room */
.room-control {
  border-top: 1px solid #ddd;
  text-align: center;
}

.room-control-btn {
  padding: 6px 0 12px;
  margin-top: 6px;
  font-size: 16px;
  font-weight: 600;
  color: var(--primary);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.leave-room-btn.disable {
  text-decoration: none;
  position: relative;
  & .btn-content {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &:hover .disable-message {
    display: block;
    cursor: default;
    text-decoration: none;
  }
}

.room-control-icon {
  margin-left: 4px;
}

.disable-message {
  min-width: 200px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  border-radius: 8px;
  padding: 8px;
  box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;

  display: none;
  background-color: #fff;
  .title {
    font-size: 14px;
  }
  .content {
    font-size: 12px;
    color: #333;
    margin-top: 4px;
  }
}
