/* ----------------- Chat window ----------------- */
.chat-window {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Header */
.chat-window_header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  user-select: none;
  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
  }
}

.chat-window_header-info {
  display: flex;
  align-items: center;
}

.back-btn {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 24px;
  color: var(--primary);
  padding: 10px;
  cursor: pointer;
}

.chat-window_header-name-wrap {
  margin-left: 8px;
}

.chat-window_header-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 12px;
}

.chat-window_header-name {
  font-size: 15px;
  font-weight: 600;
}

.chat-window_header-users {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.header-user_icon {
  color: var(--primary);
  font-size: 20px;
  padding: 6px 12px;
  margin: 0 4px;
  cursor: pointer;
  &.icon-small {
    padding: 6px;
  }
}
.header-user_icon:hover {
  color: rgba(220, 37, 74, 0.9);
}

/*-------------- Message --------------*/
/* Message list */
.message-list {
  flex: 1;
  padding-top: 36px;
  // margin-bottom: 16px;
  padding-bottom: 24px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-window_header {
  &.fixed + .message-list {
    margin-top: 50px;
  }
}

/* Message form */
.message-form {
  display: flex;
  padding: 8px 24px;
  // margin-bottom: 32px;
}

.message-form_input {
  background-color: #f3f3f5;
  border: none;
  outline: none;
  border-radius: 999px;
  font-size: 16px;
  padding: 8px 12px;
  caret-color: var(--primary);
  flex: 1;
}

.message-form_btn {
  margin-left: 8px;
}
