/* Room list */
.wrapper {
  padding-top: 24px;
  padding-bottom: 24px;
  user-select: none;
  flex: 1;
  overflow-y: auto;
  background-color: var(--background);
  border-right: 1px solid var(--border-color);
  transition: all 0.2s ease;

  &.isMobile {
    padding-top: 86px;
    border-right-color: transparent;
  }
}

.room {
  display: flex;
  align-items: center;
  padding: 8px 8px;
  margin: 0 8px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    background-color: var(--light-gray);
  }

  &.active {
    background-color: var(--light-gray);
  }
}

.room_img {
  width: 58px;
  height: 58px;
  border-radius: 999px;
  object-fit: cover;
  border: 1px solid var(--border-color);
}

.room-info {
  flex: 1;
  height: 100%;
  margin-left: 12px;
}

.room_name {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-black);
}

.room-desc {
  font-size: 1.2rem;
  color: #65676b;
  font-weight: 300;
  margin-top: 6px;
  max-width: 160px;
  overflow: hidden;
  // white-space: nowrap;
}

.text-decor-none {
  text-decoration: none;
}

.new-message-dot {
  width: 12px;
  height: 12px;
  background-color: var(--primary);
  border-radius: 99px;
}

/* Add room */
.add-room {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
