/* Room list */
.wrapper {
  margin-top: 12px;
  padding-top: 12px;
  padding-bottom: 24px;
  user-select: none;
  flex: 1;
  overflow-y: scroll;

  &.isMobile {
    margin-top: 62px;
  }
}

.room {
  display: flex;
  align-items: center;
  padding: 8px 8px;
  margin: 0 8px;
  border-radius: 8px;
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  &.active {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.room_img {
  width: 60px;
  height: 60px;
  border-radius: 999px;
  object-fit: cover;
}

.room-info {
  flex: 1;
  height: 100%;
}

.room_name {
  font-size: 15px;
  font-weight: 600;
  margin-left: 12px;
}

/* Add room */
.add-room {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
