/* Add Room Modal */
.wrapper {
  min-width: 160px;
  padding: 16px;
}

.input-wrap {
  display: flex;
  border: 1px solid var(--medium-gray);
  border-radius: 8px;
}

.input-search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  color: var(--medium-gray);
  padding: 0 12px;
}

.input-box {
  display: block;
  flex: 1;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 600;
  border: none;
  outline: none;
  padding: 8px 12px 8px 0;
  border-radius: 8px;
  caret-color: var(--primary);

  &::placeholder {
    color: var(--medium-gray);
  }
}

.users-list {
  margin-top: 12px;
  min-height: 140px;
  max-height: 220px;
  list-style: none;
  overflow-y: auto;
  white-space: nowrap;
}

.empty-user {
  display: flex;
  margin-top: 24px;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--dark-gray);
}

.user-item {
  display: flex;
  align-items: center;
  padding: 8px;

  &:hover {
    background-color: #f3f3f5;
    border-radius: 8px;
  }
}

.user-info {
  display: flex;
  align-items: center;
  flex: 1;
}

.user-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.user-name {
  font-size: 1.4rem;
  font-weight: 600;
  margin-left: 8px;
}

.choose-user {
  width: 18px;
  height: 18px;
  border: none;
  outline: none;
  background-color: #ddd;
}
