/* Add Room Modal */
.add-room-modal {
  min-width: 160px;
  padding: 16px;
}

.room-infor {
  display: flex;
  align-items: center;
  padding: 0 8px;
}

.input-title {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--text-black);
  margin-left: 8px;
  margin-bottom: 16px;
}

// INPUT
.input-wrap {
  flex: 1;
  display: flex;
  margin-left: 8px;
  border: 1px solid var(--medium-gray);
  border-radius: 8px;
  cursor: text;

  &:focus-within {
    border-color: var(--primary);

    .input-label {
      color: var(--primary);
    }
  }
}

.input-container {
  flex: 1;
  padding: 4px 16px 10px;
}

.input-label {
  display: inline-block;
  font-size: 1.2rem;
  color: var(--dark-gray);
  padding: 8px 0 4px;
}

.input-box {
  display: block;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  border: none;
  outline: none;
  caret-color: var(--primary);
}

.input-count {
  font-size: 1.2rem;
  color: var(--dark-gray);
  padding: 12px 12px 0 0;
}

// AVATAR PREVIEW
.avatar-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.input-image {
  display: none;
}

.avatar-preview {
  position: relative;
  display: inline-flex;
}

.avatar-preview-img-container {
  width: 64px;
  height: 64px;
  border-radius: 999px;
  border: 1px solid var(--medium-gray);
  overflow: hidden;
}

.avatar-preview-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar-preview-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  background-color: transparent;
  transition: all 0.1s ease;
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
