.wrapper {
  display: flex;
  align-items: flex-end;
  margin: 16px 12px 0;
}

.wrapper.sent {
  .user-img {
    display: none;
  }
  .user-name {
    display: none;
  }
  .text {
    background-color: var(--primary);
    color: #fff;
  }
  flex-direction: row-reverse;
}

// Xử lý tin nhắn liên tục của 1 người dùng
// Gửi tin nhắn
.wrapper.sent {
  &.first-message {
    .text {
      border-radius: 20px 20px 6px 20px;
    }
  }

  &.middle-message {
    .text {
      border-radius: 20px 6px 6px 20px;
    }
  }

  &.last-message {
    .text {
      border-radius: 20px 6px 20px 20px;
    }
  }

  &.middle-message,
  &.last-message {
    margin: 2px 12px 0;
  }
}

// Nhận tin nhắn
.wrapper.received {
  &.first-message {
    .user-img {
      display: none;
    }

    .text {
      border-radius: 20px 20px 20px 6px;
    }
  }

  &.middle-message {
    .user-img {
      display: none;
    }

    .user-name {
      display: none;
    }

    .text {
      border-radius: 6px 20px 20px 6px;
    }
  }

  &.last-message {
    .user-name {
      display: none;
    }

    .text {
      border-radius: 6px 20px 20px 20px;
    }
  }

  &.middle-message,
  &.last-message {
    margin: 2px 12px 0;
  }

  &.first-message,
  &.middle-message {
    margin-left: 40px;
  }
}

.user-img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  object-fit: cover;
}

.wrapper.isHasIcon {
  .user-img {
    margin-bottom: 20px;
  }
}

.time {
  min-height: 24px;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  color: #fff;
  padding: 8px 12px;
  border-radius: 8px;
  font-weight: 200;
}

.content {
  margin-left: 12px;
  max-width: 80%;
}

.user-name {
  font-size: 12px;
  font-weight: 300;
  color: #65676b;
  margin-left: 16px;
  margin-bottom: 4px;
}

.text-wrap {
  display: flex;
  align-items: center;
  position: relative;
}

.text {
  position: relative;
  display: inline-block;
  background-color: #e4e6eb;
  border-radius: 20px;
  font-size: 16px;
  color: #333;
  transform-origin: 0 50%;
  animation: popup 0.2s ease forwards;
}

.wrapper.isHasIcon {
  .text {
    margin-bottom: 20px;
  }
}

.text-inner {
  padding: 10px 16px;
  border-radius: 20px;
}

.reaction-btn {
  position: absolute;
  right: -34px;
  top: 50%;
  transform: translateY(-50%);
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  font-size: 16px;
  margin: 0 4px;
  padding: 6px;
  border-radius: 20px;
  color: #aaa;
  background-color: transparent;
  display: none;
  cursor: pointer;

  &:hover {
    background-color: #e4e6eb;
    color: #888;
  }
}

.wrapper.sent {
  .reaction-btn {
    left: -34px;
  }
}

.wrapper:hover .reaction-btn {
  display: flex;
}

@keyframes popup {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
