.side-bar {
  width: 360px;
  height: 100vh;
  display: flex;
  flex-direction: column;

  &.isMobile {
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
