/* User info */
.user-info {
  height: 50px;
  background-color: var(--background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  border-bottom: 1px solid rgba(22, 24, 35, 0.12);
  user-select: none;

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}

.container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.user-img {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid var(--gray);
}

.title {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--text-black);
}

/* New room*/
.new-room-icon {
  font-size: 2rem;
  color: var(--text-black);
  padding: 8px;
  display: inline-block;
  cursor: pointer;
}
