@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary: rgba(254, 44, 85, 1);
  --text-gray: #65676B;
  --text-black: #050505;
  --gray: #e4e6eb;
  --light-gray: #f0f2f5;

  --box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888; 
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  overflow-y: hidden;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  font-family: "Be Vietnam Pro", sans-serif;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

.btn {
  min-width: 100px;
  padding: 9px 12px;
  font-size: 16px;
  border: 1px solid rgba(22, 24, 35, 0.12);
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  background-color: transparent;
  user-select: none;
  background-color: #fff;
  font-family: "Be Vietnam Pro", sans-serif;
}
.btn:hover {
  background-color: #f3f3f5;
}

.btn.primary {
  border-color: transparent;
  background-color: var(--primary);
  font-weight: 700;
  color: #fff;
}
.btn.primary:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),
    #fe2c55;
}

.btn.border {
  border-color: var(--primary);
  font-weight: 700;
  color: var(--primary);
}
.btn.border:hover {
  background-color: rgba(254, 44, 85, 0.06);
}

.btn.rounded {
  min-width: 20px;
  border-radius: 999px;
  border-color: transparent;
}

.btn.max {
  width: 100%;
}

.firebase-emulator-warning {
  display: none;
}
