@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;300;400;500;600;700;800;900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --primary: rgba(254, 44, 85, 1);
  --background: #fff;
  --text-black: #050505;
  --light-gray: #F3F3F5;
  --gray: #E4E6EB;
  --message-gray: #E4E6EB;
  --white-light-gray: #FFF;

  --medium-gray: #BCC0C4; /*not change*/
  --text-gray: #65676B; /*not change*/
  --dark-gray: #606770; /*not change*/
  --active-green: #5AD539;  /*not change*/
  --overlay-green: rgba(90, 213, 57, 0.3); /*not change*/

  --overlay: rgba(218, 218, 218, 0.6);
  --border-color: #E4E6EB;
  --box-border-color: transparent;
  --box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;

  /* Scroll bar */
  --track-color: #f1f1f1;
  --thumb-color: #aaa;
  --thumb-hover-color: #888;
}

[data-theme="dark"] {
  --background: #242526;
  --text-black: #E4E6EB;
  --light-gray: #3A3B3C;
  --gray: #767677;
  --message-gray: #3A3B3C;
  --white-light-gray: #3A3B3C;


  --overlay: rgba(0, 0, 0, 0.6);
  --border-color: #3A3B3C;
  --box-border-color: #3A3B3C;
  --box-shadow: rgb(0, 0, 0, 0.3) 0px 4px 16px;

  /* Scroll bar */
  --track-color: #424242;
  --thumb-color: #686868;
  --thumb-hover-color: #888;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--track-color); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--thumb-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--thumb-hover-color); 
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  overflow-y: hidden;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  font-family: "Be Vietnam Pro", sans-serif;

  border: 1.5px solid transparent;
  outline: none;
}

a {
  text-decoration: none;
}

input {
  font-family: "Be Vietnam Pro", sans-serif;
}

.btn {
  min-width: 140px;
  padding: 9px 12px;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 1.5px solid var(--medium-gray);
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  background-color: var(--light-gray);
  user-select: none;
  font-family: "Be Vietnam Pro", sans-serif;
  transition: all 0.2s ease;
}
.btn:hover {
  background-color: var(--gray);
}

.btn.primary {
  border-color: transparent;
  background-color: var(--primary);
  color: #fff;
}
.btn.primary:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),
    #fe2c55;
}

.btn.border {
  background-color: transparent;
  border-color: var(--primary);
  font-weight: 600;
  color: var(--primary);
}
.btn.border:hover {
  background-color: rgba(254, 44, 85, 0.06);
}

.btn.rounded {
  min-width: 20px;
  border-radius: 999px;
  border-color: transparent;
}

.btn.max {
  width: 100%;
}

.firebase-emulator-warning {
  display: none;
}



.tooltips-menu {
  width: 300px;
  list-style: none;
  padding: 4px 0;
  background-color: var(--background);
  box-shadow: var(--box-shadow);
  border-radius: 8px;
  border: 1px solid var(--box-border-color);
  user-select: none;
}

.tooltips-menu-item {
  display: flex;
  align-items: center;
  padding: 12px 8px;
  margin: 0 4px;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 8px;
  transition: all 0.2s ease;
  cursor: pointer;
  color: var(--text-black);
}

.tooltips-menu-item:hover {
  background-color: var(--light-gray);
}

.tooltips-menu-icon {
  margin-right: 12px;
  font-size: 1.6rem;
  color: var(--text-black);
}

